.card {
    margin: .8rem;
}

h1 {
    text-align: center;
    padding: 2rem;
}

th {
    text-align: center;
    font-weight: bolder;
}

tr {
    text-align: center;
}

.input-group-custom li {
    text-decoration: none;
    display: inline-block;
}

.clickable {
    cursor: pointer;
}
